
/* CSS Reset */

html{
  box-sizing:border-box;
  }
  *, *:before, *:after{
      box-sizing:inherit;
  }
  
  /* Box Sizing Reset */
 
  html {
      box-sizing: border-box;
  }
  *, *:before, *:after {
      box-sizing: inherit;
  }
    
  /* Responsive Images Reset */
  img {
      max-width: 100%;
      height: auto;
  }
  
  h1, h2, h3, h4, h5, h6, p {
      margin-top: 0;
  }

  body{
    font-family:"Source Sans Pro", sans-serif;
    margin: 0;
    padding:0;
    background-color:#e5e5e5;
    color:#262949;
  }

  /* NAV */
  header a {
    text-decoration: none;
    color: white;
    padding-left:8px;
}

header h1 {
    font-size: 2.5em;
    padding-left:15px;
}

.top-bar {
    background-color:#373b69;
    display: flex;
    justify-content: space-between;
    height:64px;
}

.top-bar h1{
  margin:0;
  padding:0;
  line-height: 64px;
}

.nav-button {
    font-size: 2.3em;
    background-color:#373b69;
    border: none;
    color: white;
    display: block;
    height: 64px;
    line-height: 1;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger-icon {
    /* display: block; */
    height: 40px;
    display:none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.top-bar ul {
    display:flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 64px;
}

.top-bar ul li{
  line-height: 64px;
  padding: 0 30px 0;
}

.top-bar nav a {
    padding: 0;
    line-height: 50px;
    font-size: 1.2em;
    display: block;
    padding-left:8px;
}

.top-bar nav li:hover,
.top-bar nav li:active,
.top-bar nav li:focus {
    background-color: #373b69;
    font-weight:bolder;
}
/* NAV END */
/* SearchMovies Part */
.movie{
  width:225px;
  margin:1rem;
  background:#373b69;
  color:white;
  border-radius:3px;
  box-shadow:3px 3px 5px rgba(0,0,0,0.5);
  overflow:hidden;
  position: relative;
}

.movie img{ 
  max-width:100%;
}

.movie-container{
  display:flex;
  flex-wrap:wrap;
  max-width:1300px;
  margin:0 auto;
}

.movie-info{
  /* display:flex;
  justify-content: space-between;
  text-align:center; */
  padding:1rem;
}

.movie-info h3{
  margin:0;
}

.movie-info p{
  font-size: 14px;
  margin: 0;
  padding:0;
}

.movie-overlay{
  position: absolute;
  background:white;
  bottom:0;
  left:0;
  right:0;
  color:#373b69;
  padding:1rem;
  transform:translateY(102%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height:100%;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  box-shadow:0px -3px 5px rgba(0,0,0,0.1);
}

.movie:hover .movie-overlay{
  transform:translateY(0%);
}

.movie-overlay{
  background:#373b69;
}

.movie-overlay h2{
  color:white;
}

.movie-overlay p{
  font-size:14px;
  color:white;
}

.movie-overlay .add-btn{
  background:#21d07a;
  color:#373b69;
  border:none;
  border-radius:2px;
}

.movie-overlay .add-btn:hover{
  cursor: pointer;
}
.movie-overlay .add-btn:disabled{
  pointer-events: none;
  opacity: 0.5;
}

.movie-overlay .remove-btn{
  background:#21d07a;
  color:#373b69;
  border:none;
  border-radius:2px;
}

.movie-overlay .remove-btn:hover{
  cursor: pointer;
}
.movie-overlay .remove-btn:disabled{
  pointer-events: none;
  opacity: 0.5;
}



/* FOOTER */
footer{
  background:#373b69;
  color:white;
}

.tmdb-logo{
  padding:20px 0;
}


/* ?????? */
 

  .form-container{
    margin:0 auto;
    
  }

  @media(min-width:760px){
.form-container{
    margin:20px auto 10px;
    max-width: 1000px;
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-between;
  }
  
  }

  /* .title{
    font-size:3rem;
    text-align:center;
  }
   */
/* form{
  display: grid;
} */

.label{
  font-size:1.2em;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}

.input{
 font-size:1.6rem;
 padding:0.5rem 2rem;
 line-height: 2.8rem;
 border-radius: 20px;
 border:1px solid #ddd; 
 margin-bottom: 1rem;
}


.button:hover{
  background-color:rgba(0,0,0,0.85);
}

@media (min-width:760px){
form{
  grid-template-columns: auto 1fr auto;
  gap:1rem;
  align-items: center;
}
.input{
  margin-bottom:0;
}
}


